<app-navbar></app-navbar>

<div class="w-full mt-24 mb-3 flex justify-center items-center gap-2">
  <button mat-raised-button (click)="filterByGender('Action')">Action</button>
  <button mat-raised-button (click)="filterByGender('Animation')">Animation</button>
  <button mat-raised-button (click)="filterByGender('Sci-Fi')">Sci-Fi</button>
  <button mat-raised-button (click)="filterByGender('Adventure')">Adventure</button>
  <button mat-raised-button (click)="filterByGender('Comedy')">Comedy</button>
  <button mat-raised-button (click)="filterByGender('Crime')">Crime</button>
  <button mat-raised-button (click)="filterByGender('Drama')">Drama</button>
  <button mat-raised-button color="warn" (click)="restartFilter()">Restart</button>
</div>

<mat-divider></mat-divider>

<div class="w-full mt-5 mb-3 flex justify-center items-center gap-2">
  <button mat-raised-button color="warn" (click)="sortByTtle()">Sort by Title</button>
  <button mat-raised-button color="accent" (click)="sortByReleasedDate()">Sort by release date</button>
    <button mat-raised-button color="primary" (click)="sortByRating()">Sort by rating</button>
</div>

<mat-divider></mat-divider>

<div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center justify-center mb-20">
  <div class="grid grid-cols-4 gap-4 justify-center items-center mt-10">
    <app-movie [movie]="movie" *ngFor="let movie of filterMovies"></app-movie>
  </div>
</div>

<app-footer></app-footer>