
<div class="w-full mt-20 mb-3 flex justify-center items-center gap-2">
    <button mat-raised-button>Action</button>
    <button mat-raised-button>Animation</button>
    <button mat-raised-button>Sci-Fi</button>
    <button mat-raised-button>Adventure</button>
    <button mat-raised-button>Comedy</button>
    <button mat-raised-button>Crime</button>
    <button mat-raised-button>Drama</button>
</div>
<mat-divider></mat-divider>
<div class="w-full mt-5 mb-3 flex justify-center items-center gap-2">
    <button mat-raised-button color="primary" (click)="sortByRating()">Sort by rating</button>
    <button mat-raised-button color="accent" (click)="sortByReleasedDate()">Sort by release date</button>
    <button mat-raised-button color="warn" (click)="sortByTtle()">Sort by Title</button>
</div>
<mat-divider></mat-divider>

<div>
  <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
      <div class="w-full flex justify-center items-center mt-10">
        <app-movie [movie]="movie" *ngFor="let movie of movies"> </app-movie>
      </div>
      <div class="w-full flex justify-center items-center mt-10">
        <app-movie [movie]="movie" *ngFor="let movie of movies"></app-movie>
      </div>
      <div class="w-full flex justify-center items-center mt-10">
        <app-movie [movie]="movie" *ngFor="let movie of movies"></app-movie>
      </div>
  </div>
</div>